Django==1.6.5
MySQL-python==1.2.5
South==1.0
argparse==1.2.1
-e git+https://github.com/gnrfan/django-restful.git@4e7be7888f6953df4cfc81855a7ca7929a925e63#egg=django_restful-master
-e git+https://github.com/gnrfan/django-sequence-field.git@7b5975f26dd33a11b6588a40abfd510c3867115f#egg=django_sequence_field-master
-e git+https://github.com/gnrfan/django-xml.git@e7e1243b9699fd8c43d73da27d4a3f2552c380b4#egg=django_xml-master
-e git+https://github.com/gnrfan/python-easyxsd.git@e35ceecd384ca05b25fe11ba98ca7c5afea4294a#egg=easyxsd-master
lxml==3.3.5
python-dateutil==2.2
pytz==2014.4
requests==2.3.0
six==1.7.3
wsgiref==0.1.2
